*{}

body{}


/* Solo los enlaces en el navbar se vuelven rojos al pasar el mouse */
#navbar a.nav-link:hover {
    color: red;
}

.button{
    border: white 4px solid;
    border-radius: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:black;
    color: white;
    transition: border 300ms ease-out, border-radius 300ms ease-out;
}

.button:hover{
    background-color: tomato;
    color: black;
    border: 4px solid rgba(100, 100, 100, 1);
    border-radius: 4px;
}

main {
    width: 90%; /* Ancho del 80% del contenedor */
    max-width: 1200px; /* Máximo ancho */
    min-height: 100vh; /* Al menos todo el alto de la pantalla */
    margin: 0 auto; /* Centramos horizontalmente */
    margin-top: 50px; /* Margen superior */
    background-color: rgb(248, 248, 248);

    padding: 20px;
  }

#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: black 1px solid;
    border-radius: 10px;
}

#mision {
    width: 100%;
    border: black 1px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    float: left;
    background-color:rgb(234, 92, 88);
}


#vision {
    width: 100%;
    border: black 1px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    float: right;
    clear: both;
    background-color:rgb(238, 239, 244) ;
}

#valores{
    width: 100%;
    border: black 1px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    float: right;
    clear: both;
    background-color:rgb(90,187,205) ;
    margin-bottom: 100px;
}

#valores ul{
    text-align: left;
}

#formulario{
    width: 100%;
    border: black 1px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    float: right;
    clear: both;
    background-color:rgb(238, 239, 244) ;
    margin-bottom: 100px;
}

#formulario button{
    margin-bottom: 20px;
}
